.container {
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
 }

 .section {
    margin: 10px 0;
    box-shadow: 0 0 5px 1px gainsboro;
    background-color: white;
 }
 
 .section__container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
 }
 
 .section__header {
    margin: 0;
    margin-right: auto;
    font-size: 18px;
 }