.section {
    margin: 10px 0;
    box-shadow: 0 0 5px 1px gainsboro;
    background-color: white;
 }
 
 .section__container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
 }
 
 .section__header {
    margin: 0;
    padding: 20px;
    font-size: 18px;
    border-bottom: 1px solid lightgray;
 }
 
 .section__header2 {
    margin: 0;
    margin-right: auto;
    font-size: 18px;
 }

 @media (max-width: 500px) {
    .form {
       display: flex;
       flex-direction: column;
       flex-basis: 1;
    }
 
    .form__button {
       margin-top: 15px;
       display: flex;
       justify-content: center;
    }
 
    .form__field {
       margin: 0;
    }
 
    .task__content {
       word-wrap: break-word;
    }
    
    .section__container {
       display: flex;
       flex-direction: column;
    }
 
    .section__buttons {
       display: flex;
       flex-direction: column;
    }
 
    .section__header2 {
       margin-bottom: 10px;
    }
 
    .button__hideCompleted {
       margin-bottom: 10px;
    }
 }