.form {
    padding: 20px;
    display: flex;
 }
 
 .form__field {
    margin-right: 20px;
    padding: 8px 5px;
    border: 1px solid lightgray;
    flex-grow: 1;
 }
 
 .form__field:enabled {
    border-color: lightgrey;
 }
 
 .form__field:read-only {
    color: lightgrey;
 }
 
 .form__button {
    background-color: teal;
    color: white;
    border: none;
    width: auto;
    padding: 8px 20px;
    transition: 0.1s;
    cursor: pointer;
 }
 
 .form__button:hover {
    background-color: darkcyan;
    transition: 0.2s;
    transform: scale(105%);
 }
 
 .form__button:active {
    background-color: lightseagreen;
    transform: translateY(1px);
 }



 .section {
   margin: 10px 0;
   box-shadow: 0 0 5px 1px gainsboro;
   background-color: white;
}

.section__container {
   padding: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid lightgray;
}

.section__header {
   margin: 0;
   margin-right: auto;
   font-size: 18px;
}

@media (max-width: 500px) {
   .form {
       display: flex;
       flex-direction: column;
       flex-basis: 1;
   }

   .form__button {
       margin-top: 15px;
       display: flex;
       justify-content: center;
   }

   .form__field {
       margin: 0;
   }



   /* .section__buttons {
       display: flex;
       flex-direction: column;
   } */
}